.checklist {

  li {
    position: relative;
    margin: 5px 0;
    padding-left: 2.6rem;
    min-height: 26px;
    text-align: left;

    // border: 1px solid red;

    &::before {
      position: absolute;
      content: '\e91d';
      font-family: 'icomoon';
      text-align: left;
      font-size: 0.7rem;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: get-color(accent);
      color: #fff;
      left: 0;
      top: 0px;
      padding-left: 8px;
      line-height: 26px;
      transition: transform 0.3s 0.1s linear;
    }
  }
}
