.container {
  margin: 0 auto;
  position: relative;
  width: min(calc(100% - 2*12px), 414px);

  &--wide {
    width: min(calc(100% - 2*4px), 414px);
  }

  &--full {
    width: min(100%, 414px);
  }

}
