.container {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 2*12px);


  &--wide {
    // max-width: none;
    width: calc(100% - 2*4px);
  }

  // &--break-mobile { // break out right side of container on mobile and tablet
  //   margin-right: calc((100vw - 100%) / -2);

  //   @include from(xl) { //1200
  //     margin-right: auto;
  //   }
  // }
}
