.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--light {
    background-color: get-color('light');
  }

  &--round {
    border-radius: 50%;
  }


}

.img--radius-1 {
  border-radius: 1rem;
}
