.inline-list {
  li {
    display: inline;
    position: relative;
    // padding-right: 1.7rem;

    &:not(:first-of-type) {
      padding-left: 1.2rem;
    }

    &:not(:last-of-type) {
      padding-right: calc(1.2rem - 7px);
    }

    &:not(:first-of-type)::before {
      position: absolute;
      content: "";
      z-index: 2;
      left: 0;
      top: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: get-color(accent);
    }
  }
}
