.page {
  position: relative;
  padding-bottom: 75px;
  min-height: 100vh;

  &--white {
    background-color: #fff;
  }

  &--placeholder {
    min-height: 80vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-style: italic;
    }

    > div {
      text-align: center;
    }
  }
}
