.page {
  position: relative;
  padding-bottom: 52px;
  min-height: 100vh; // calc(100vh - 52px);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  &--white {
    background-color: #fff;
  }

  &__footer {
  }

  &--placeholder {
    min-height: 80vh; // approx...
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;

    > div {
      text-align: center;
    }
  }
}
