.swiper-container {
  .swiper-slide {
    height: auto;
    padding-bottom: 6px; // to make sure that de cards' box-shadow is not overflowing/hidden
    border: 1px solid transparent;

    width: auto;
  }
}

.reference-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
  }
  .swiper-button-prev {
    left: -2rem;
  }

  .swiper-button-next {
    right: -2rem;
  }
}
