.text-link {
  display: block;
  position: relative;
  margin: 5px 0;
  padding-left: 2.2rem;
  line-height: 26px;
  height: 26px;
  

  &:hover::before {
    transform: rotate(-40deg);
  }

  &::before {
    position: absolute;
    content: '\e914';
    font-family: 'icomoon';
    font-size: 1rem;
    width: 26px;
    height: 26px;
    left: 0;
    top: 0px;
    padding-left: 8px;
    line-height: 26px;
    transition: transform 0.3s ease-in;

  }
}