@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color("headings");
  font-family: $heading-font;
}

p {
  @include font-size($fs-m);
}

.fs-xs {
  @include font-size($fs-xs);
}
.fs-s {
  @include font-size($fs-s);
}
.fs-m {
  @include font-size($fs-m);
}
.fs-l {
  @include font-size($fs-l);
}
.fs-xl {
  @include font-size($fs-xl);
}
.fs-2xl {
  @include font-size($fs-2xl);
}
.fs-3xl {
  @include font-size($fs-3xl);
}
.fs-4xl {
  @include font-size($fs-4xl);
}

.fs-5xl {
  @include font-size($fs-5xl);
}

.fs-6xl {
  @include font-size($fs-6xl);
}

.f-heading {
  font-family: $heading-font;
}

.f-white {
  color: #fff !important;
}
