/* This code generates the following visibility classes: 

The default display mode is "block".

.hide-xs , .hide-s, ... , hide-xxl

.display-xs, ... , .display-xxl
.display-xs-inline, ... , .display-xxl-inline
.display-xs-flex, ... , .display-xxl-flex
*/

$display-modes: inline flex; // default display mode is block

@each $name, $value in $breakpoints {
  $bp: $name;
  .hide-#{$bp} {
    @include from(#{$bp}) {
      display: none !important;
    }
  }

  .show-#{$bp} {
    display: none !important;

    @include from(#{$bp}) {
      display: block !important;
    }
  }

  @each $display-mode in $display-modes {
    .show-#{$bp}-#{$display-mode} {
      display: none !important;

      @include from(#{$bp}) {
        display: $display-mode !important;
      }
    }
  }
}
